---

layout: default
office_zoom_link: ""

---

<div class="row well">
<div class="col-md-6"> <!-- left -->
   <h3> Welcome! </h3>

<li>Lecture Notes will be available on this page (link above)</li>
<li>Masks are required during in-class meetings</li>

    {% include news.html %}
</div> <!-- /left-->

<div class="col-md-5 col-md-offset-1"> <!-- right -->
  <div class="row well"> <!-- inner row well 1 (right) -->
    {% include basic_info.html %}
  </div> <!-- /inner row well 1 (right) -->
</div>
</div>
