
  <p class="rss-subscribe">
    subscribe to the class newsfeed
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a> with
    your own reader, or use the <a href="http://ifttt.com">ifttt</a> recipes below.

<a
href="https://ifttt.com/view_embed_recipe/372074-course-announcements-for-graph-theory-via-email"
target = "_blank" class="embed_recipe embed_recipe-l_47" id=
"embed_recipe-372074"><img src= 'https://ifttt.com/recipe_embed_img/372074'
alt="IFTTT Recipe: course announcements for graph theory via email connects
feed to email" width="370px" style="max-width:100%"/></a><script async
type="text/javascript" src= "//ifttt.com/assets/embed_recipe.js"></script>

<a
href="https://ifttt.com/view_embed_recipe/379107-course-announcements-for-graph-theory-via-notification"
target = "_blank" class="embed_recipe embed_recipe-l_54" id=
"embed_recipe-379107"><img src= 'https://ifttt.com/recipe_embed_img/379107'
alt="IFTTT Recipe: course announcements for graph theory via notification
connects feed to if-notifications" width="370px"
style="max-width:100%"/></a><script async type="text/javascript" src=
"//ifttt.com/assets/embed_recipe.js"></script>
