	<ul class="nav nav-pills">
		<li id="home_link">
      <a href="{{ "/" | prepend: site.baseurl}}"
        >Home</a>
    </li>

    <li id="notes_link">
      <a href="{{ "/lectures/" | prepend: site.baseurl}}"
        >Class Notes</a>
    </li>

    <li id="hw_link">
      <a href="{{ "/hw/" | prepend: site.baseurl}}"
        >Homework</a>
    </li>

    <li id="worksheet_link">
      <a href="{{ "/worksheets/" | prepend: site.baseurl}}"
        >Worksheets</a>
    </li>

<li id="syllabus_link">
      <a href="{{ "/syllabus/" | prepend: site.baseurl}}"
        >Syllabus</a>
    </li>

    <li>
      <a href="http://dkrashen.github.io/"
        >Danny's Page</a>
    </li>
	</ul>
